[submodule "glew"]
    path = thirdparty/glew-cmake
    url = https:/github.com/omniavinco/glew-cmake.git
[submodule "glfw"]
    path = thirdparty/glfw
    url = https:/github.com/glfw/glfw.git
[submodule "glm"]
    path = thirdparty/glm
    url = https:/github.com/g-truc/glm.git
